<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешение на интернет и доступ к файловой системе -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Разрешение на уведомления (Android 13+, иначе уведомления не будут отображаться) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.LibApp"
            tools:targetApi="31">

        <!-- Если целитесь на Android 13 или выше, можно сменить targetApi="33",
             а также в Gradle выставить targetSdkVersion 33, но это опционально. -->

        <activity
                android:name=".BottomSheetCompress"
                android:exported="false" />
        <activity
                android:name=".RegisterActivity"
                android:exported="false" />
        <activity
                android:name=".LoginActivity"
                android:exported="false" />
        <activity
                android:name=".BookReadingActivity"
                android:exported="false" />
        <activity
                android:name=".BookDetailActivity"
                android:exported="false" />
        <activity
                android:name=".BooksActivity"
                android:exported="false" />
        <activity
                android:name=".AuthActivity"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Предзагруженные шрифты, если используете -->
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
